<template>
  <div v-if="vxFlashMessages" class="flash-container">
    <div
      v-for="message in vxFlashMessages"
      :key="`flash-message-${message.body}-${getRandomInt()}`"
      class="flash-message"
      :class="message.level"
    >
      <div class="flash-child-icon">
        <svg viewBox="0 0 24 24">
          <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
        </svg>
      </div>
      <div class="flash-child-message">
        {{ $t(message.body) }}
      </div>
      <div class="flash-child-close">
        <button @click="vxRemoveFlashMessage(message)">
          <i />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'FlashMessages',
  data() {
    return {
      max: 20
    }
  },
  computed: {
    ...mapState({
      vxFlashMessages: 'flashMessages'
    })
  },
  watch: {
    vxFlashMessages(newValue) {
      newValue.forEach((message) => {
        if (message.isAutoRemove) {
          this.autoRemove(message)
        }
      })
    }
  },
  methods: {
    ...mapMutations({
      vxRemoveFlashMessage: 'removeFlashMessage'
    }),
    autoRemove(message) {
      console.log(message)
      setTimeout(() => {
        this.vxRemoveFlashMessage(message)
      }, 3000)
    },
    getRandomInt() {
      return Math.floor(Math.random() * Math.floor(this.max))
    }
  }
}
</script>
