<template>
  <header>
    <nav class="main">
      <ul>
        <NavigationListItem
          v-for="(link, index) in siteLinks"
          :key="'site-links-' + index"
          :location="link.to"
          :text="index"
          :classes="link.class ? link.class : ''"
          :exact="link.exact"
        />
        <li class="bar-menu">
          <a href="javascript:void(0)" @click="vxToggleMenu">
            <svg
              :class="vxShowMenu ? 'activated' : ''"
              class="hamburger"
              viewBox="0 0 100 100"
            >
              <path
                class="top-bun"
                d="M93.027,13.721c0,-2.069 -1.68,-3.75 -3.75,-3.75l-78.523,0c-2.069,0 -3.75,1.681 -3.75,3.75l0,7.5c0,2.07 1.681,3.75 3.75,3.75l78.523,0c2.07,0 3.75,-1.68 3.75,-3.75l0,-7.5Z"
              />
              <path
                class="patty"
                d="M92.996,46.25c0,-2.07 -1.681,-3.75 -3.75,-3.75l-78.523,0c-2.07,0 -3.75,1.68 -3.75,3.75l0,7.5c0,2.07 1.68,3.75 3.75,3.75l78.523,0c2.069,0 3.75,-1.68 3.75,-3.75l0,-7.5Z"
              />
              <path
                class="bottom-bun"
                d="M93.027,78.779c0,-2.07 -1.68,-3.75 -3.75,-3.75l-78.523,0c-2.069,0 -3.75,1.68 -3.75,3.75l0,7.5c0,2.069 1.681,3.75 3.75,3.75l78.523,0c2.07,0 3.75,-1.681 3.75,-3.75l0,-7.5Z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import links from '../../assets/data/components/site-navigation.js'
import NavigationListItem from '../utilities/NavigationListItem.vue'

export default {
  name: 'SiteNavigation',
  components: {
    NavigationListItem
  },
  data() {
    return {
      siteLinks: links
    }
  },
  computed: {
    ...mapGetters({
      vxShowMenu: 'site/getShowMenu'
    })
  },
  methods: {
    ...mapMutations({
      vxToggleMenu: 'site/toggleMenu'
    })
  }
}
</script>
