<template>
  <aside class="navigation">
    <nav class="side-navigation">
      <ul>
        <NavigationListItem
          v-for="(link, index) in siteLinks"
          @clicked="vxToggleMenu"
          :key="'site-links-side-' + index"
          :location="link.to"
          :text="index"
          :classes="'bar-item' + (link.class ? ' ' + link.class : '')"
        />
      </ul>
    </nav>
    <div class="side-navigation-footer">
      <DarkModeToggle />
      <LocaleSelector />
    </div>
  </aside>
</template>

<script>
import { mapMutations } from 'vuex'
import links from '../../assets/data/components/site-navigation.js'
import NavigationListItem from '../../components/utilities/NavigationListItem.vue'
import DarkModeToggle from '../utilities/DarkModeToggle.vue'
import LocaleSelector from '../utilities/LocaleSelector.vue'

export default {
  name: 'SiteSidePanel',
  components: { NavigationListItem, DarkModeToggle, LocaleSelector },
  data() {
    return {
      siteLinks: links
    }
  },
  methods: {
    ...mapMutations({
      vxToggleMenu: 'site/toggleMenu'
    })
  }
}
</script>
