<template>
  <div v-cloak class="meta-container">
    <SiteNavigation v-if="scrolledUp" />
    <main :class="vxShowMenu ? 'show-menu' : ''" class="site-container">
      <div class="site-cloak">
        <section ref="scrollbox" class="site-content-container">
          <div class="site-content">
            <nuxt />
          </div>
        </section>
      </div>
      <SiteSidePanel />
    </main>
    <FlashMessages />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SiteNavigation from '../components/site/Navigation.vue'
import SiteSidePanel from '../components/site/SidePanel.vue'
import FlashMessages from '../components/site/FlashMessages.vue'

export default {
  name: 'DefaultLayout',
  components: {
    SiteNavigation,
    SiteSidePanel,
    FlashMessages
  },
  data() {
    return {
      previousPosition: 0,
      scrolledDown: false,
      scrolledUp: true
    }
  },
  computed: {
    ...mapGetters({
      vxShowMenu: 'site/getShowMenu',
      vxLocale: 'locale/getLocale'
    })
  },
  afterCreated() {
    if (process.client) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  beforeDestroyed() {
    if (process.client) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    getBrowserLocale() {
      if (navigator) {
        if (navigator.languages) {
          return navigator.languages[0].substring(0, 2)
        }

        if (navigator.language) {
          return navigator.language.substring(0, 2)
        }
      }

      return null
    },
    handleScroll(event) {
      if (process.client) {
        const position = event.target.scrollTop
        const top = position + 75

        if (position > this.previousPosition && position > top) {
          this.scrolledDown = true
          this.scrolledUp = false
        } else {
          this.scrolledDown = false
          this.scrolledUp = true
        }

        this.previousPosition = position
      }
    }
  }
}
</script>
