@import "variables";

.full-screen-container {
  @include flex-box;
  @include flex-direction(column);
  width: 100%;
}

.full-screen-background {
  position: relative;
  width: 100%;
  min-height: unquote("calc(100vh - #{$main-nav-height})");
  color: $anti-flash-white;

  @include flex-box;
  @include flex-direction(column);
  @include align-items(center);
  @include align-content(center);

  &.lander {
    background: url($background-lander), no-repeat;
    background-size: cover;
    background-position: 50% 60%;

    &::before {
      @include pseudo();
      width: 100%;
      height: 100%;
      background-color: rgba(var(--theme-colour-1-rgb), 0.8);
    }
  }

  > .container {
    width: 100%;
    min-height: 100%;
    max-width: 80.0rem;
    @include flex-box;
    @include flex-direction(column);
    padding: 1.5rem;
    box-sizing: border-box;
    z-index: 1;

    .header {
      @include flex(1);
      @include font-size(3.2);
      font-weight: 600;
      text-align: left;
  
      @include deviceMedium {
        @include font-size(4.2);
      }
    }

    .portfolio-preview {
      
    }

  }
}
