@import "variables";
@import "_mixins/flex";

:root {
  --theme-colour-1: #{$theme-1};
  --theme-colour-1-rgb: #{$theme-1-rgb};
  --theme-colour-2: #{$theme-2};
  --theme-colour-2-rgb: #{$theme-2-rgb};
  --theme-colour-3: #{$theme-3};
  --theme-colour-3-rgb: #{$theme-3-rgb};
  --theme-colour-4: #{$theme-4};
  --theme-colour-4-rgb: #{$theme-4-rgb};
  --theme-colour-5: #{$theme-5};
  --theme-colour-5-rgb: #{$theme-5-rgb};

  --base-colour: #{$anti-flash-white};
  --base-colour-rgb: #{$anti-flash-white-rgb};
  --alt-colour: #{$black};
  --alt-colour-rgb: #{$black-rgb};

  --highlight-colour: #{$highlight};
  --highlight-colour-rgb: #{$highlight-rgb};

  --background-colour: #{$alt-white};
  --background-colour-rgb: #{$alt-white-rgb};
  --font-colour: #{$anti-flash-black};
  --font-colour-rgb: #{$anti-flash-black-rgb};
}

[data-theme="dark"] {
  --theme-colour-1: #{$theme-1};
  --theme-colour-1-rgb: #{$theme-1-rgb};
  --theme-colour-2: #{$theme-2};
  --theme-colour-2-rgb: #{$theme-2-rgb};
  --theme-colour-3: #{$theme-3};
  --theme-colour-3-rgb: #{$theme-3-rgb};
  --theme-colour-4: #{$theme-4};
  --theme-colour-4-rgb: #{$theme-4-rgb};
  --theme-colour-5: #{$theme-5};
  --theme-colour-5-rgb: #{$theme-5-rgb};

  --base-colour: #{$black};
  --base-colour-rgb: #{$black-rgb};
  --alt-colour: #{$anti-flash-white};
  --alt-colour-rgb: #{$anti-flash-white-rgb};

  --highlight-colour: #{$highlight};
  --highlight-colour-rgb: #{$highlight-rgb};

  --background-colour: #{$anti-flash-black};
  --background-colour-rgb: #{$anti-flash-black-rgb};
  --font-colour: #{$alt-white};
  --font-colour-rgb: #{$alt-white-rgb};
}

[v-cloak] {
  display: none;
  visibility: none;
  opacity: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  @include transition(all 750ms !important);
  @include transition-delay(0 !important);
}

html, textarea {
  font-family: $font-family-sans-serif;
  font-size: 62.5%;
  word-spacing: 0.2rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-colour);
}

body, input, textarea {
  color: var(--font-colour);
}

h1 {
  font-size: 4.8rem;
  margin: 1rem 0;
}

h3 {
  font-size: 2.0rem;
  margin: 1rem 0;
  text-transform: capitalize;
  color: var(--font-colour);
}

p {
  font-size: 1.4rem;
}

li {
  font-size: 1.4rem;
}

.meta-container {
  @include flex-box;
  @include flex-direction(column);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main.site-container {
  @include flex-box;
  @include justify-content(center);
  @include transition(all 0.3s ease);

  position: relative;
  min-width: 100%;
  height: 100%;
  overflow: hidden;

  &.show-menu {
    aside.navigation {
      right: 0;
      z-index: 20;
    }

    section.site-content-container {
      overflow: hidden;
    }

    .site-cloak {
      left: -$max-width-side-nav;

      &::before {
        @include pseudo;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba($anti-flash-black, 0.7);
        z-index: 10;
      }
    }
  }

  section.site-content-container {
    width: 100%;
    height: 100%;
    overflow: auto;

    .site-content {
      @include flex-box;
      @include flex-direction(column);
      @include align-content(center);
      @include align-items(center);
      
      text-align: center;
      width: 100%;
      min-height: unquote("calc(100vh - #{$main-nav-height})");
    }
  }

  .site-cloak {
    @include transition(all 0.3s ease);

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
  }
}

.dark-mode-container {
  @include flex-box;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center)
}