.calendar-container {
  @include flex(1);
  @include flex-box;
  width: 100%;
  max-height: unquote("calc(100vh - #{$main-nav-height})");
  overflow: hidden;

  user-select: none;

  .calendar-menu {
    @include flex(1);

    background-color: var(--base-colour);

    visibility: hidden;
    opacity: 0;
    display: none;

    width: 0;
    height: 100%;

    &.active {
      @include flex-box;
      @include flex-direction(column);

      position: fixed;
      left: 0;
      top: 0;

      width: 90%;
    }
  }

  .week-container {
    @include flex-box;
  }

  .days-hours-container {
    @include flex-box;
    @include flex-direction(column);
  }

  .days-of-week-container {
    @include flex(1);
    @include flex-box;

    .column-weekday {
      @include flex(1);
    }
  }

  .calendar-content {
    @include flex(1);
    @include flex-box;
    @include flex-direction(column);

    width: 100%;
    max-height: 100%;

    .type-selection {
      height: 100%;    
  
      ul {
        @include flex-box;
        list-style: none;
        padding: 0;
    
        li {
          padding: 0.5rem 1.5rem;
  
          &.selected {
            background-color: var(--base-colour);
          }
  
          &:first-child {
            border-left: 2px solid var(--base-colour);
          }
  
          border-top: 2px solid var(--base-colour);
          border-right: 2px solid var(--base-colour);
  
          @include border-radius-top-left(10px);
          @include border-radius-top-right(10px);
        }
      }
    }
    
    .calendar {
      @include flex(1);
      @include flex-box;
      @include flex-direction(column);
    
      background-color: var(--base-colour);
    
      width: 100%;
      max-height: 100%;
  
      padding: 0.5rem;

      .row-years-months {
        @include flex-box;
      }

      .selected-time {
        background-color: rgba(var(--theme-colour-5-rgb), 0.6);
      }
  
      .day-container {
        @include flex(1);
        @include flex-box;
        @include flex-direction(column);
  
        height: 100%;
      }

      .row-hour {
        @include flex(1);
        @include flex-box;

        border-bottom: 1px solid #000;

        &.week-fix:first-child {
          margin-top: 16px
        }

        > div {
          height: 15.0rem;
        }

        .hour-header {
          width: 10.0rem;
          text-align: left;
        }

        .hour-content{
          @include flex(1);
          @include flex-box;
          @include flex-direction(column);

          z-index: 0;

          .minute-select {
            @include flex(1);
            z-index: 1;

            &.week-fix {
              border-left: 1px solid #000;

              &:nth-child(2) {
                border-bottom: 1px solid #000;
              }
            }

            &:nth-child(30) {
              border-bottom: 1px solid #000;
            }
          }
        }
      }

      .row-title {
        @include flex-box;
        @include justify-content(space-between);
        @include align-content(center);
        @include align-items(center);

        border: 1px solid var(--alt-colour);

        width: 100%;
        font-weight: 600;
        padding: 0.5rem;

        @include font-size(1.8);

        h2 {
          margin: 0 auto;
        }

        button {
          @include flex-box;
          @include justify-content(center);
          @include align-content(center);
          @include align-items(center);

          border: none;
          padding: 0.5rem 1.0rem;
          background-color: none;

          cursor: pointer;

          svg {
            width: 2.6rem;
            height: 2.6rem;
          }
        }
      }

      .row-subtitle {
        @include flex-box;
        @include justify-content(space-between);
        @include align-content(center);
        @include align-items(center);

        min-height: 7.7rem;

        > div {
          @include flex(1);
          @include flex-box;
          @include justify-content(center);
          @include align-content(center);
          @include align-items(center);

          border-left: 1px solid var(--alt-colour);
          border-bottom: 1px solid var(--alt-colour);

          &:last-child {
            border-right: 1px solid var(--alt-colour);
          }

          width: 100%;
          height: 100%;
        }
      }

      .calendar-content-container {
        max-height: 100%;
        overflow: auto;

        .row-years-months {
          .minified{
            margin: 1rem 3rem;
          }
        }
      }

      .row-content {
        @include flex(1);
        @include flex-box;

        height: 100%;

        > div {
          @include flex(1);
          @include flex-box;
          @include justify-content(center);

          border-left: 1px solid var(--alt-colour);
          border-bottom: 1px solid var(--alt-colour);

          &:last-child {
            border-right: 1px solid var(--alt-colour);
          }
  
          &:hover {
            cursor: pointer;
            background-color: rgba($highlight, 0.2);
          }

          &.outside {
            background-color: rgba(0, 0, 0, 0.2);
          }

          a {
            @include font-size(1.4);
            @include border-radius(50%);

            color: var(--font-colour);
            text-decoration: none;
            font-weight: 600;
            padding: 0.3rem;
            margin: 0.1rem;

            width: 2.8rem;
            height: 2.8rem;

            height: fit-content;

            &:hover {
              cursor: pointer;
              background-color: rgba(var(--theme-colour-1-rgb), 0.2);
            }
          }
        }
      }

      &.minified {
        .row-title {
          @include font-size(1.2);
          padding: 0.1rem;
  
          button {
            padding: 0.2rem 0.5rem;

            svg {
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }
  
        .row-subtitle {
          min-height: 0;

          > div {

          }
        }
  
        .row-content {
          > div {
            @include flex(1);
            @include flex-box;
            @include justify-content(center);
            @include align-content(center);
            @include align-items(center);
    
            &:hover {
              cursor: pointer;
              background-color: transparent;

              a {
                @include border-radius(0);
    
                width: 100%;
                height: 100%;
    
                &:hover {
                  cursor: pointer;
                  background-color: rgba(var(--theme-colour-1-rgb), 0.2);
                }
              }
            }
  
            a {
              margin: 0;
            }
          }
        }
      }
    }
  }

  @include deviceMedium {
    .calendar-menu {
      @include flex(1);
      @include flex-box;
      @include flex-direction(column);
  
      background-color: var(--base-colour);

      visibility: visible;
      opacity: 1;
  
      width: 100%;
      max-width: 30.0rem;
    }
  }
}
