.card-deck {
  width: 100%;
  max-width: $max-width;
  overflow: hidden;

  z-index: 0;

  &.wrapper {
    @include flex-box;
    @include justify-content(center);
    @include flex-wrap(wrap);
  }

  &.slider {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;

    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;

    &::before,
    &::after {
      content: '';
      z-index: 1;
      background-color: #333;
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      pointer-events: none;
    }


    .slide-container {
      @include flex-box;
      @include justify-content(center);

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      height: 400px;

      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      > .card {
        position: relative;
        flex: 0 0 100%;
      }
    }
  }

  .card {
    @include flex-box;
    @include flex-direction(column);
    @include border-radius(.5rem);

    margin: 0.5rem;

    &:hover, &:active {
      .card-container {
        .card-content {
          height: 67%;
        }
      }
    }

    z-index: 1;
    margin-bottom: 1.0rem;

    width: 100%;
    max-width: 35.0rem;

    min-height: 32.5rem;
    max-height: 100%;

    position: relative;

    .coming-soon {
      background-color: rgba(var(--background-colour-rgb), 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      cursor: not-allowed;
    }

    .card-container {
      @include flex(1);
      @include flex-box;
      @include flex-direction(column);
      @include justify-content(flex-end);

      position: relative;
      
      img {
        @include border-radius-top(.5rem);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .card-content {
        @include transition(all 0.3s ease);
        
        background-color: var(--base-colour);
        padding: 0.5rem;
        width: 100%;
        height: 30%;
        font-weight: 700;
        overflow: hidden;

        .card-title {
          padding: 0.5rem;
          width: 100%;

          .title {
            font-weight: 900;
            @include font-size(1.9);
            color: var(--font-colour);
          }

          .subtitle {
            @include font-size(1.6);
            font-style: italic;
            color: var(--theme-colour-1);
            font-weight: 700;
          }
        }

        .card-body {
          max-height: 100%;
          overflow: hidden;
          text-align: left;
          padding: 0 0.75rem;
        }
      }
    }

    .card-footer {
      @include flex-box;
      @include flex-direction(row);
      @include align-items(center);
      @include align-content(center);
      @include justify-content(space-between);
      @include border-radius-bottom(.5rem);
      @include font-size(1.4);

      padding: 0.2rem 0.5rem;
      margin: 0;
      background-color: var(--base-colour);
      font-weight: 700;

      button, a {
        @include flex-box;
        @include align-content(center);
        @include align-items(center);
        @include justify-content(center);

        padding: 0.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &.see-more {
          svg {
            fill: var(--alt-colour);
            height: 2.5rem;
            width: 3.5rem;
          }
        }

        &.buy-now {
          font-weight: 900;
        }
      }
    }
  }
}

i.masked {
  margin: 0;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  @include flex-box;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  position: relative;

  &:before {
    @include pseudo();
    width: 2.5rem;
    height: 2.5rem;
  }
}
