$border-radius-form: 1.0rem;

form {
  @include border-radius($border-radius-form);

  background-color: var(--base-colour);
  padding: 1.5rem;
  width: 100%;

  .form-content, &.form-content {
    @include flex-box;
    @include flex-direction(column);

    width: 100%;

    > div {
      min-height: 2.5rem;
    }

    .inline-container {
      @include flex-box;
      @include align-content(center);
      @include align-items(center);

      width: 100%;

      label {
        margin-left: 1.0rem;
      }
    }

    .input-container {
      label {
        position: relative;

        &.textarea {
          height: 15.0rem;
        }
      }
      
      input, select {
        width: 100%;
        height: fit-content;
      }

      label {
        @include flex-box;
        @include flex-direction(column);

        position: relative;
        min-height: 2.5rem;
        margin: 1.6rem 0;

        input:active,
        input:focus,
        textarea:active,
        textarea:focus,
        select:active,
        select:focus,
        .minimized {
          + span {
            @include font-size(1.2);
            color: var(--font-colour);
            bottom: 100%;
          }
        }

        span {
          position: absolute;
          bottom: 0;
          @include transition(all 0.3s ease);

          color: var(--font-colour);
          bottom: 0 + 0.5rem;
          padding: 0.2rem;
        }
      }

      input, textarea {
        background-color: transparent;
      }

      select {
        color: var(--font-colour);
        background-color: var(--base-colour);
      }

      input, select, textarea {
        width: 100%;
        position: absolute;
        bottom: 0;
      }

      input, select {
        padding: 0.2rem 0.5rem;
      }
    }

    * {
      max-width: 100%;
    }

    label {
      @include font-size(1.5);
      font-weight: 600;
      text-align: left;
    }

    input, select, textarea {
      border: none;
      border-bottom: 0.2rem solid $theme-1;
    }

    textarea {
      resize: none;
      height: 100%;
    }

    p.error {
      @include font-size(1.2);

      min-height: 2.0rem;
      padding: 0.3rem 0.5rem;
      color: $danger;
      font-weight: 600;
    }

    button {
      @include font-size(1.6);
      @include transition(all 0.3s ease);

      border: none;
      padding: 0.75rem;
      border-radius: $border-radius-form;
      text-transform: capitalize;
      font-weight: 600;

      &[type=submit] {
        margin: 0 0 1.0rem 0;
        background-color: var(--theme-colour-1);
        color: var(--base-colour);
      }

      &[type=reset] {
        background-color: var(--theme-colour-5);
        color: var(--base-colour);
      }

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        background-color: $light-grey;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
}

.form-container {
  min-height: unquote("calc(100vh - #{$main-nav-height})");

  &.material {
    @include flex-box;

    padding: 0.5rem;
    width: 100%;
    max-width: $max-width;

    .feature {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    @include deviceSmall {
      .feature {
        @include border-radius-top-left($border-radius-form);
        @include border-radius-bottom-left($border-radius-form);

        display: block;
        visibility: visible;
        position: relative;
        opacity: 1;
        width: 50%;

        background: linear-gradient(rgba(var(--theme-colour-1-rgb), 0.5), rgba(var(--theme-colour-2-rgb), 0.5)),
        url($background-lander),
        no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        &::before {
          @include pseudo();
          @include border-radius-top-left($border-radius-form);
          @include border-radius-bottom-left($border-radius-form);

          width: 100%;
          height: 100%;
          background-color: rgba(var(--theme-colour-1-rgb), 0.7);
        }
      }

      form {
        @include border-radius-top-left(0);
        @include border-radius-bottom-left(0);

        @include border-radius-top-right($border-radius-form);
        @include border-radius-bottom-right($border-radius-form);

        width: 50%;
      }
    }
  }
}

label.switch {
  @include flex-box;
  position: relative;
  width: 3.5rem;
  height: 1.8rem;

  input[type=checkbox] {
    display: none;
    pointer-events: none;

    &:checked {
      + span.slider {
        background-color: transparent;

        &::before {
          @include pseudo();

          background-color: $yellow;
          right: 0;
        }
      }
    }
  }

  span.slider {

    position: relative;
    cursor: pointer;
    background: var(--base-colour);
    border: 2px solid var(--alt-colour);

    width: 100%;
    height: 100%;

    &::before {
      @include pseudo();

      background-color: var(--alt-colour);
      margin: 0.2rem;
    }

    &.round {
      @include border-radius(3.5rem);

      &::before {
        @include pseudo();
        @include border-radius(50%);

        width: 1.0rem;
        height: 1.0rem;

        top: 0;
        bottom: 0;
      }
    }
  }
}

input[type=checkbox].svg-checkbox {
  display: none;
  pointer-events: none;

  & + label {
    @include flex-box;
    @include align-items(center);
    cursor: pointer;
    font-size: 1.6rem;

    svg.checkbox {
      width: 2.5rem;
      stroke: var(--theme-colour-1);

      path.box {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        fill: var(--base-colour);
        stroke-width: 7;

        @include transition(stroke-dashoffset .3s linear);
      }
      
      polyline.check {
        stroke-dasharray: 70;
        stroke-dashoffset: 70;
        stroke-width: 8;
        fill: none;
        @include transition(stroke-dashoffset .3s linear);
      }
    }

    span {
      margin-left: 0.5rem;
    }
  }

  &:checked + label {
    svg.checkbox {
      path.box {
        stroke-dashoffset: 320;
        @include transition(stroke-dashoffset .3s linear);
      }
      
      polyline.check {
        stroke-dashoffset: 0;
        @include transition(stroke-dashoffset .2s linear);
      }
    }
  }
}

.dropdown-menu {
  width: 100%;
  border: 1px solid var(--alt-colour);
  position: relative;

  &.selecting {
    ul {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  ul {
    display: none;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    position: absolute;
    background-color: var(--base-colour);
    width: 100%;

    border: 1px solid var(--alt-colour);

    li {
      width: 100%;
    }
  }
}
