@import "variables";

.pr-5 {
  padding-right: 0.5rem
}

.font-white {
  color: var(--background-colour);
}

.font-centered {
  text-align: center;
}

.push-right {
  margin-left: auto;
}

.bold {
  font-weight: 900;
}

.text-centered {
  text-align: center;
}

.relative-container {
  position: relative;
}

.inline-container {
  @include flex-box;
}


// TODO: MOVE TO LOGICAL PLACE

.select-dropdown {
  @include appearance(none);
  
  display: block;

  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.0;

  padding: 0.5rem 1.7rem 0.5rem 0.6rem;

  width: 100%;
  max-width: 100%; 
  margin: 0;

  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;

  color: var(--alt-colour);
  background-color: var(--base-colour);
}

.select-dropdown::-ms-expand {
  display: none;
}

.select-dropdown:hover {
  border-color: var(--theme-colour-1);
}

.select-dropdown:focus {
  border-color: var(--theme-colour-2);
  box-shadow: 0 0 0.1rem 0.1rem rgba(var(--theme-colour-1-rgb), .7);
  box-shadow: 0 0 0 0.3rem -moz-mac-focusring;
  outline: none;
}

.select-dropdown option {
  font-weight: normal;
}

option.locale {
  ::before {
    @include pseudo(block, absolute, '');
    width: 2.5rem;
    height: 2.5rem;
  }

  &.en {
    &:before {
      @include web-mask('../img/svg/locale/en.svg');
    }
  }

  &.fr:before {
    @include web-mask('../img/svg/locale/fr.svg');
  }
}