@import "variables";
@import "_mixins/animations";

header {
  background-color: var(--base-colour);
}

li {
  font-size: 1.6rem;
  font-weight: 600;

  a {
    display: block;
    text-decoration: none;
    color: var(--font-colour);

    &:hover {
      color: var(--theme-colour-1);
    }
  }
}

nav.locale {
  width: 100%;
  background-color: rgba(var(--theme-colour-1-rgb), 0.4);

  ul {
    @include flex-box;
    @include justify-content(flex-end);
    @include align-content(center);
    @include align-items(center);

    width: 100%;
    height: $locale-nav-height;
    list-style: none;

    padding: 0 5.0rem;

    li {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

nav.main {
  @include flex-box;
  @include justify-content(center);
  width: 100%;
  height: $main-nav-height;

  background-color: var(--base-colour);

  .nuxt-link-active {
    border-bottom: 0.2rem solid var(--theme-colour-1);

    &:hover {
      color: var(--font-colour);
    }
  }

  ul {
    @include flex-box;
    @include align-content(center);
    @include align-items(center);

    width: 100%;
    list-style: none;

    padding: 0 1.5rem;

    @include deviceMedium {
      padding: 0 4.0rem;
    }

    li {
      font-size: 1.6rem;
      font-weight: 600;

      &.bar-logo {
        @include font-size(2.0);
        font-weight: 600;
        padding: 1.5rem 2.5rem 1.5rem 0;
      }

      &.bar-item {
        padding: 1.5rem 2.5rem;
        display: none;
        visibility: hidden;
        opacity: 0;
        
        &.pushed-right {
          margin-left: auto;
        }
      }

      &.bar-menu {
        display: block;
        visibility: visible;
        opacity: 1;
        
        margin-left: auto;
        padding: 2.5rem;
        font-size: 2.0rem;
        width: 1.8rem;
      }

      @include deviceSmall {
        &.bar-item {
          display: block;
          visibility: visible;
          opacity: 1;
        }

        // &.bar-menu {
        //   display: none;
        //   visibility: hidden;
        //   opacity: 0;
        // }
      }
    }
  }
}

aside.navigation {

  @include flex-box;
  @include flex-direction(column);
  @include align-items(space-between);
  @include transition(right 0.3s ease);

  overflow-x: hidden;

  position: absolute;
  top: 0;
  right: -$max-width-side-nav;
  z-index: -1;

  padding: 1.5rem;

  width: 100%;
  max-width: $max-width-side-nav;
  height: 100%;
  overflow: auto;

  background-color: var(--base-colour);

  nav.side-navigation {
    @include flex-box;
    @include flex-direction(column);
    @include flex(1);
  
    width: 100%;
    background-color: var(--base-colour);
  
    ul {
      @include flex-box;
      @include flex-direction(column);
  
      width: 100%;
      max-width: $max-width;
      list-style: none;
  
      padding: 0;
  
      li {
        font-size: 1.6rem;
        font-weight: 600;
        width: 100%;
        padding: 1.5rem;
  
        &.close {
          a {
            @include flex-box;
            @include justify-content(space-between);
          }
        }
      }
    }
  }
  
  .side-navigation-footer {
    @include flex-box;
    @include justify-content(space-between);
    @include align-content(flex-end);
    @include align-items(flex-end);
    
    width: 100%;
    border-top: 0.1rem solid $light-grey;

    padding: 10px 0 5px 0;
  }
}

footer.site-footer {
  @include flex-box;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);

  width: 100%;
  background-color: var(--base-colour);

  .bottom {
    @include flex-box;
    @include justify-content(center);
    @include align-content(center);
    @include align-items(center);
    background-color: rgba(var(--theme-colour-3-rgb), 0.1);
    padding: 1.5rem 0;
    width: 100%;
  }

  p.copyright {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: $light-grey;
    text-align: right;
  }

  .navigation-container {
    @include flex-box;
    @include flex-direction(column);
    @include align-content(center);
    @include align-items(stretch);
    @include justify-content(space-between);

    width: 100%;
    min-width: 55rem;
    max-width: $max-width;
    padding: 1.5rem 0;

    @include deviceMedium {
      @include flex-direction(row);
      @include justify-content(center);
    }

    .logo {
      @include flex-box;
      @include align-content(center);
      @include align-items(center);
      @include justify-content(center);

      min-width: 30%;
      max-width: 100%;

      img {
        max-height: 14rem;
      }
    }

    .nav-container {
      @include flex-box;
      @include flex-direction(column);
      @include align-content(center);
      @include align-items(center);

      .bottom-box {
        height: 5.2rem;
      }
    }

    nav {
      @include flex(1);
      @include flex-box;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-content(center);
      @include align-items(center);

      height: fit-content;
  
      ul {
        @include flex-box;
        @include flex-wrap(wrap);

        max-height: 5rem;
        list-style: none;
  
        padding: 0;
  
        li {
          font-size: 1.4rem;
          font-weight: 600;
          padding: 0.5rem;
          min-width: 10rem;
          width: fit-content;
          text-align: center;
  
          &.close {
            a {
              @include flex-box;
              @include justify-content(space-between);
            }
          }
        }
      }
    }
  }
}

svg.hamburger {
  width: 2.5rem;
  fill: var(--font-colour);
  stroke-width: 55;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include transition(all .3s linear);

  .top-bun {
    @include transition(all .3s linear);
  }

  .patty {
    opacity: 1;
    @include transition(all .3s .2s linear);
  }

  .bottom-bun {
    @include transition(all .3s linear);
  }

  &.activated {
    .top-bun {
      @include transform(translateX(27px) rotateZ(45deg));
    }
  
    .patty {
      opacity: 0;
      @include transition(all .1s linear);
    }
  
    .bottom-bun {
      @include transform(translateX(-44px) translateY(25px) rotateZ(-45deg));
    }
  }
}
