.flash-container {
  position: fixed;
  @include flex-box;
  @include flex-direction(column);
  @include align-items(flex-end);
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 100;

  .flash-message {
    @include flex-box;
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    @include transition(all 0.3s ease);

    padding: 1.5rem 0.5rem;
    margin-top: 0.5rem;
    font-weight: 700;
    @include font-size(1.55);
    color: var(--base-colour);
    width: 100%;
    max-width: 45.0rem;
    text-align: center;
    min-width: 31.5rem;

    &:first-child {
      margin-top: 0;
    }

    &.success {
      background-color: $success;

      .flash-child-icon {
        
      }
    }

    &.warning {
      background-color: $warning;

      .flash-child-icon {
        
      }
    }

    &.danger {
      background-color: $danger;

      .flash-child-icon {
        
      }
    }

    .flash-child-icon {
      width: 5.0rem;
      height: 100%;
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      > i {
        position: relative;

        &:before {
          @include pseudo(block, absolute, '');
          background-color: var(--base-colour);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    .flash-child-message {
      @include flex(1);
    }

    .flash-child-close {
      width: 5.0rem;
      height: 100%;
      @include flex-box;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);

      > button {
        position: relative;
        background-color: transparent;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
      }
    }
  }
}

.request-sending-container {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  padding: 0.5rem;

  > .request-sending {
    @include flex-box;
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    padding: 0;
    color: var(--font-colour);
    text-align: center;
    height: fit-content;

    .sending-message {
      @include font-size(1.0);
    }
  }
}

.page-container {
  @include flex(1);
  @include flex-box;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);

  width: 100%;
  min-height: 100%;
  padding: 0 5px;
}

.google-map {
  width: 100%;
  min-width: 35.0rem;
  height: auto;
  min-height: 35.0rem;
  background: gray;
}

.modal-container {
  @include flex-box;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  .modal-content {
    @include flex-box;
    @include flex-direction(column);
    @include justify-content(center);
    @include border-radius(10px);

    height: fit-content;
    max-height: 100%;

    width: 100%;
    max-width: $max-width;

    overflow: hidden;
    background-color: var(--background-colour);
    padding: 10px 25px;
    z-index: 2000;

    .modal-title {
      @include flex-box;
      @include justify-content(space-between);

      padding: 0.5rem 0;

      h2 {
        @include font-size(2.5)
      }
    }

    .modal-body {
      @include flex-box;
      @include flex(1);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .modal-footer {
      @include flex-box;
      @include justify-content(space-between);

      padding: 0.5rem 0;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.profile {
  @include border-radius(10px);

  width: 100%;
  max-width: $max-width;

  background-color: var(--base-colour);
  padding: 1.5rem;
  margin: 0.5rem;

  .header {
    @include flex-box;
    @include flex-direction(column);

    @include deviceSmall {
      @include flex-direction(row);
    }

    .image {
      img {
        @include border-radius(50%);
        max-width: 100%;
      }
    }

    .description {
      @include flex(1);
      text-align: left;

      p {
        line-height: 2.0;
        margin: 0.5rem 0 1.5rem 1.5rem;
      }
    }
  }
}