@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Sizes
$max-width: 110.0rem;
$locale-nav-height: 2.1rem;
$main-nav-height: 7.5rem;
$total-nav-height: $locale-nav-height + $main-nav-height;
$max-width-side-nav: 30.0rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Shades
$anti-flash-white: #f1f2f3;
$anti-flash-white-rgb: 241, 242, 243;
$anti-flash-black: #333333;
$anti-flash-black-rgb: 51, 51, 51;
$alt-white: #d8d9dA;
$alt-white-rgb: 216, 217, 218;
$black: #111111; // Anti-flash black as well. A'INT NOBODY GOT TIME FOR FLASH!
$black-rgb: 51, 51, 51;
$light-grey: #a1a2a3;
$light-grey-rgb: 161, 162, 163;

$fa-font-path: "./font-awesome/webfonts";

// Theme
$theme-1: #0E3657;
$theme-1-rgb: 14, 54, 87;
$theme-2: #EBEBD3;
$theme-2-rgb: 235, 235, 211;
$theme-3: #171219;
$theme-3-rgb: 23, 18, 25;
$theme-4: #C8FFBE;
$theme-4-rgb: 200, 255, 190;
$theme-5: #F0803C;
$theme-5-rgb: 240, 128, 60;

$highlight: #FFCD24;
$highlight-rgb: 255, 205, 36;

// Information Colours
$success: #32a852;
$warning: #ed8c1c;
$info: #f6cd61;
$danger: #f52027;

// SOCIAL COLOURS
$social-facebook: #4267B2;
$social-google: #DB4437;
$social-instagram: #E4405F;
$social-twitter: #1DA1F2;
$social-pinterest: #BD081C;

$background-lander: 'https://cdn.andrewbilenduke.com/cylinder/img/business/architecture-buildings-business-city-325185.jpg';