<template>
  <div class="page-container">
    <div class="profile">
      <div class="header">
        <div class="image">
          <img src="https://cdn.andrewbilenduke.com/andrew_bilenduke.jpg" />
        </div>
        <div class="description">
          <p class="bold">
            {{ $t('about.description.line1') }}
          </p>
          <p>
            {{ $t('about.description.line2') }}
          </p>
          <p>
            {{ $t('about.description.line3') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutPage',
  data() {
    return {
      test: null
    }
  },
  head() {
    return { title: this.$t('about.title') }
  }
}
</script>
