<template>
  <div class="page-container">
    <div class="form-container material">
      <div class="feature" />
      <form class="material" novalidate="true" @submit.prevent="submitForm()">
        <h1>
          {{ $t('contact.title') }}
        </h1>
        <div class="form-content">
          <div class="input-container">
            <label for="contact-title">
              <input
                id="contact-title"
                v-model.trim="values.title"
                :class="values.title ? 'minimized' : ''"
                type="text"
                required
                @input="errors.title = null"
              />
              <span>
                {{ $t('contact.form.title.label') }}
              </span>
            </label>
          </div>
          <p class="error">
            {{ errors.title }}
          </p>
        </div>
        <div class="form-content">
          <div class="input-container">
            <label for="contact-email">
              <input
                id="contact-email"
                v-model.trim="values.email"
                :class="values.email ? 'minimized' : ''"
                type="email"
                required
                @input="errors.email = null"
              />
              <span>
                {{ $t('contact.form.email.label') }}
              </span>
            </label>
          </div>
          <p class="error">
            {{ errors.email }}
          </p>
        </div>
        <div class="form-content">
          <div class="input-container">
            <label for="contact-subject">
              <select
                id="contact-subject"
                v-model="values.subject"
                :class="values.subject ? 'minimized' : ''"
                required
                @input="errors.subject = null"
              >
                <option />
                <option
                  v-for="(option, index) in subjectOptions"
                  :key="'subject-option-' + index"
                  :value="option"
                >
                  {{ $t(`contact.form.subject.options.${option}`) }}
                </option>
              </select>
              <span>
                {{ $t('contact.form.subject.label') }}
              </span>
            </label>
          </div>
          <p class="error">
            {{ errors.subject }}
          </p>
        </div>
        <div class="form-content">
          <div class="input-container">
            <label for="contact-message" class="textarea">
              <textarea
                id="contact-message"
                v-model.trim="values.message"
                :class="values.message ? 'minimized' : ''"
                type="text"
                required
                @input="errors.message = null"
              />
              <span>
                {{ $t('contact.form.message.label') }}
              </span>
            </label>
          </div>
          <p class="error">
            {{ errors.message }}
          </p>
        </div>
        <div class="form-content">
          <div class="inline-container">
            <input
              id="contact-copy"
              v-model="values.copy"
              name="contact-copy"
              class="svg-checkbox"
              type="checkbox"
            />
            <label for="contact-copy">
              <svg class="checkbox" viewBox="0 0 100 100">
                <path
                  class="box"
                  d="M82,89H18c-3.87,0-7-3.13-7-7V18c0-3.87,3.13-7,7-7h64c3.87,0,7,3.13,7,7v64C89,85.87,85.87,89,82,89z"
                />
                <polyline
                  class="check"
                  points="25.5,53.5 39.5,67.5 72.5,34.5 "
                />
              </svg>
              <span>
                {{ $t('contact.form.copy.label') }}
              </span>
            </label>
          </div>
          <p class="error">
            {{ errors.copy }}
          </p>
        </div>
        <div class="form-content">
          <button type="submit" :disabled="!isValidForm || vxIsRequestSending">
            {{ $t('buttons.submit') }}
          </button>
          <button type="reset" @click="clearForm()">
            {{ $t('buttons.reset') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ContactPage',
  data() {
    return {
      required: ['title', 'email', 'subject', 'message'],
      values: {
        title: null,
        email: null,
        subject: null,
        copy: false,
        message: null
      },
      errors: {
        title: null,
        email: null,
        subject: null,
        copy: null,
        message: null
      },
      subjectOptions: ['greeting', 'offer']
    }
  },
  computed: {
    ...mapGetters({
      vxIsRequestSending: 'getIsRequestSending'
    }),
    isValidForm() {
      for (const value of Object.values(this.errors)) {
        if (value) {
          return false
        }
      }
      return true
    }
  },
  methods: {
    ...mapActions({
      vxSendMessage: 'contact/sendContactMessage'
    }),
    async submitForm() {
      await this.validateForm()
      if (this.isValidForm) {
        this.vxSendMessage(this.values)
          .then(() => this.clearForm())
          .catch((error) => console.error(error))
      }
    },
    clearForm() {
      for (const key of Object.keys(this.values)) {
        this.values[key] = null
      }
      for (const key of Object.keys(this.errors)) {
        this.values[key] = null
      }
    },
    validateForm() {
      this.validateTitle()
      this.validateEmail()
      this.validateSubject()
      this.validateMessage()
    },
    validateTitle() {
      if (!this.values.title) {
        this.errors.title = this.$t('contact.form.title.errors.required')
      } else {
        this.errors.title = null
      }
    },
    validateEmail() {
      if (!this.values.email) {
        this.errors.email = this.$t('contact.form.email.errors.required')
      } else if (!this.isValidEmail(this.values.email)) {
        this.errors.email = this.$t('contact.form.email.errors.valid')
      } else {
        this.errors.email = null
      }
    },
    validateSubject() {
      if (!this.values.subject) {
        this.errors.subject = this.$t('contact.form.subject.errors.required')
      } else {
        this.errors.subject = null
      }
    },
    validateMessage() {
      if (!this.values.message) {
        this.errors.message = this.$t('contact.form.message.errors.required')
      } else {
        this.errors.message = null
      }
    },
    isValidEmail(email) {
      const re = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/i
      return re.test(email)
    }
  },
  head() {
    return { title: this.$t('contact.title') }
  }
}
</script>
