<template>
  <div class="full-screen-container">
    <div class="full-screen-background relative-container lander font-centered">
      <div class="container">
        <div class="header">
          {{ $t('home.header') }}
        </div>
        <div class="portfolio-preview">
          <div v-if="examples" class="card-deck slider">
            <div class="slide-container">
              <ExampleCard
                v-for="(example, index) in examples"
                :key="'example-' + index"
                :example="example"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ExampleCard from '../components/utilities/ExampleCard'
export default {
  name: 'HomePage',
  components: { ExampleCard },
  data() {
    return {
      examples: [
        {
          image: 'planner.jpg',
          title: 'Planner',
          subtitle: 'Planner',
          description:
            'A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example. A nice example.'
        },
        {
          image: 'accounting.jpg',
          title: 'Accounting',
          subtitle: 'Accounting',
          description: 'A nice example.'
        },
        {
          image: 'legal.jpg',
          title: 'Legal',
          subtitle: 'Legal',
          description: 'A nice example.'
        },
        {
          image: 'library.jpg',
          title: 'library',
          subtitle: 'library',
          description: 'A nice example.'
        }
      ]
    }
  },
  head() {
    return { title: this.$t('home.title') }
  }
}
</script>
