@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transform($transforms...) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards, $iteration-count: 10ms, $timing-function: linear) {
  
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
  animation-iteration-count: $iteration-count;
  animation-timing-function: $timing-function;

  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;
  -webkit-animation-iteration-count: $iteration-count;
  -webkit-animation-timing-function: $timing-function;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;
  -moz-animation-iteration-count: $iteration-count;
  -moz-animation-timing-function: $timing-function;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: $fillmode;
  -o-animation-direction: $direction;
  -o-animation-iteration-count: $iteration-count;
  -o-animation-timing-function: $timing-function;
}

@include keyframe(slide-out-up) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(0,-100%);
  }
}

@include keyframe(slide-out-down) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(0,100%);
  }
}

// Slide Out Left from Center
@include keyframe(slide-out-left) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(-100%,0);
  }
}

// Slide out Right from Center
@include keyframe(slide-out-right) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(100%,0);
  }
}

@include keyframe(slide-in-up) {
  0% {
    transform: translate(0,100%);
  }

  100% {
    transform: translate(0,0);
  }
}

@include keyframe(slide-in-down) {
  0% {
    transform: translate(0,-100%);
  }

  100% {
    transform: translate(0,0);
  }
}

// Slide in Left to Center
@include keyframe(slide-in-left) {
  0% {
    transform: translate(-100%,0);
  }

  100% {
    transform: translate(0,0);
  }
}

// Slide in Right to Center
@include keyframe(slide-in-right) {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0,0);
  }
}

// Spin clockwise
@include keyframe(spin-clockwise) {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}