@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &::before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin css-triangle($color, $direction, $size: 0.6rem, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 0.3rem;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin web-mask($image) {
  -webkit-mask-image: url($image);
  mask-image: url($image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

//BREAKPOINTS

// Small tablets and large smartphones (landscape view)
$breakpointMinXSmall: 32.0rem;
// Small tablets and large smartphones (landscape view)
$breakpointMinSmall: 57.6rem;
// Small tablets (portrait view)
$breakpointMinMedium: 76.8rem;
// Tablets and small desktops
$breakpointMinLarge: 99.2rem;
// Large tablets and desktops
$breakpointMinXLarge: 120.0rem;

//Devices
// Small devices
@mixin deviceXSmall {
  @media (min-width: #{$breakpointMinXSmall}) {
    @content;
  }
}
//Devices
// Small devices
@mixin deviceSmall {
  @media (min-width: #{$breakpointMinSmall}) {
    @content;
  }
}
// Medium devices
@mixin deviceMedium {
  @media (min-width: #{$breakpointMinMedium}) {
    @content;
  }
}
// Large devices
@mixin deviceLarge {
  @media (min-width: #{$breakpointMinLarge}) {
    @content;
  }
}
// Extra large devices
@mixin deviceXLarge {
  @media (min-width: #{$breakpointMinXLarge}) {
    @content;
  }
}
// Custom devices
@mixin deviceCustom($screen) {
  @media (min-width: calc($screen / 10) + 'rem') {
    @content;
  }
}

// FONT SIZES - For both browser than can and cannot support rem
@mixin font-size($sizeValue: 1.6) {
  font-size: $sizeValue + rem;
}

@mixin border-radius($radius) {
  @include box-sizing(border-box);
  -webkit-border-radius: $radius;

  -moz-border-radius: $radius;

  border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;

  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-top-left($radius) {
  -webkit-border-top-left-radius: $radius;

  -moz-border-radius-topleft: $radius;

  border-top-left-radius: $radius;
}

@mixin border-radius-top-right($radius) {
  -webkit-border-top-right-radius: $radius;

  -moz-border-radius-topright: $radius;

  border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;

  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;

  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-bottom-left($radius) {
  -webkit-border-bottom-left-radius: $radius;

  -moz-border-radius-bottomleft: $radius;

  border-bottom-left-radius: $radius;
}

@mixin border-radius-bottom-right($radius) {
  -webkit-border-bottom-right-radius: $radius;

  -moz-border-radius-bottomright: $radius;

  border-bottom-right-radius: $radius;
}

@mixin blur($radius) {
  -webkit-filter: blur($radius+rem); /* Chrome, Safari */
  -ms-filter: blur($radius+rem); /* IE12? */
  filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}

@mixin appearance($type) {
  -moz-appearance: $type;
  -webkit-appearance: $type;
  -o-appearance: $type;
  appearance: $type;
}