<template>
  <div class="page-container">
    <h1>
      {{ $t('portfolio.title') }}
    </h1>
    <div v-if="examples" class="card-deck wrapper">
      <ExampleCard
        v-for="(example, index) in examples"
        :key="'example-' + index"
        :example="example"
      />
    </div>
  </div>
</template>

<script>
import ExampleCard from '../../components/utilities/ExampleCard.vue'

export default {
  name: 'PortfolioPage',
  components: { ExampleCard },
  data() {
    return {
      examples: [
        {
          name: 'forum',
          is_available: true,
          repository: 'https://github.com/ABilenduke/soapbox',
          is_internal: false,
          location: 'https://soapbox.andrewbilenduke.com'
        },
        {
          name: 'planner',
          is_available: true,
          repository:
            'https://bitbucket.org/CuriousCoderAB/andrew_resume_site/src/master/frontend/components/utilities/calendar/',
          is_internal: true
        },
        {
          name: 'accounting',
          is_available: false,
          repository: '',
          is_internal: true
        },
        {
          name: 'store',
          is_available: false,
          repository: '',
          is_internal: true
        }
      ]
    }
  },
  head() {
    return { title: this.$t('portfolio.title') }
  }
}
</script>
