<template>
  <div class="page-container">
    <Calendar :locale="vxCurrentLocale" @plan-event="planEvent" />
    <EventManager
      v-if="isEventPlanning && planningRange"
      :planning-range="planningRange"
      :locale="vxCurrentLocale"
      @close-modal="isEventPlanning = false"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Calendar from '../../components/utilities/calendar/Index.vue'
import EventManager from '../../components/utilities/EventManager.vue'

export default {
  name: 'PlannerPage',
  components: { Calendar, EventManager },
  computed: {
    ...mapGetters({
      vxCurrentLocale: 'locale/getLocale'
    })
  },
  data() {
    return {
      examples: 'FARTZ',
      isEventPlanning: false,
      planningRange: null
    }
  },
  methods: {
    planEvent(selectedDateRange) {
      this.isEventPlanning = true
      this.planningRange = selectedDateRange
    }
  },
  head() {
    return { title: this.$t('portfolio.examples.planner.title') }
  }
}
</script>
