<template>
  <div class="dark-mode-container">
    {{ $t('site.darkMode') }}
    <label class="switch">
      <input type="checkbox" v-model="vxDarkMode" @click="toggleDarkMode()" />
      <span class="slider round"></span>
    </label>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

const Cookie = process.client ? require('js-cookie') : undefined

export default {
  name: 'DarkModeToggle',
  computed: {
    ...mapGetters({
      vxDarkMode: 'site/getDarkMode'
    })
  },
  beforeMount() {
    const htmlElement = document.documentElement
    const mode = this.vxDarkMode ? 'dark' : 'light'
    htmlElement.setAttribute('data-theme', mode)
  },
  methods: {
    ...mapActions({
      vxToggleDarkMode: 'site/toggleDarkMode'
    }),
    async toggleDarkMode() {
      await this.vxToggleDarkMode()

      const theme = this.vxDarkMode ? 'dark' : 'light'
      Cookie.set('theme', JSON.stringify(theme))
    }
  }
}
</script>
