<template>
  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-title">
        <h2>
          {{ $t('event_manager.title') }}
        </h2>
        <button type="button" @click="$emit('close-modal')">
          X CLOSE
        </button>
      </div>
      <div class="modal-body">
        <form class="material" novalidate="true" @submit.prevent="submitForm()">
          <div class="form-content">
            <div class="input-container">
              <label for="schedule-start-date">
                <input
                  id="schedule-start-date"
                  v-model.trim="values.start"
                  :class="values.start ? 'minimized' : ''"
                  type="text"
                  required
                  @input="errors.start = null"
                />
                <span>
                  {{ $t('event_manager.form.start_date') }}
                </span>
              </label>
            </div>
          </div>
          <div class="form-content">
            <div class="input-container">
              <label for="schedule-end-date">
                <input
                  id="schedule-end-date"
                  v-model.trim="values.end"
                  :class="values.end ? 'minimized' : ''"
                  type="text"
                  required
                  @input="errors.end = null"
                />
                <span>
                  {{ $t('event_manager.form.end_date') }}
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</template>

<script>
// import moment from 'moment'

export default {
  name: 'EventManager',
  props: {
    planningRange: {
      type: Object,
      required: true
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      values: {
        start: null,
        end: null
      },
      errors: {
        start: null,
        end: null
      }
    }
  },
  created() {
    this.values.start = this.planningRange.start
    this.values.end = this.planningRange.end
  }
}
</script>
