<template>
  <div v-if="example" class="card">
    <div v-if="!example.is_available" class="coming-soon">
      <h3>{{ $t('portfolio.coming_soon') }}</h3>
    </div>
    <div class="card-container">
      <img
        :src="
          `https://cdn.andrewbilenduke.com/resume/examples/${example.name}.jpg`
        "
      />
      <div class="card-content">
        <div class="card-title">
          <div class="title">
            {{ $t(`portfolio.examples.${example.name}.title`) }}
          </div>
          <div class="subtitle">
            {{ $t(`portfolio.examples.${example.name}.subtitle`) }}
          </div>
        </div>
        <div class="card-body">
          {{ $t(`portfolio.examples.${example.name}.description`) }}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <nuxt-link
        v-if="example.is_internal"
        :to="`/portfolio/${example.name}`"
        :disabled="!example.is_available"
        tag="button"
        class="see-more"
      >
        <svg viewBox="0 0 24 24">
          <path
            d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
          />
        </svg>
      </nuxt-link>
      <a v-else :href="example.location" target="_blank" class="see-more">
        <svg viewBox="0 0 24 24">
          <path
            d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"
          />
        </svg>
      </a>

      <a :href="example.repository" target="_blank" class="see-more">
        <svg version="1.1" viewBox="0 0 24 24">
          <path
            d="M12.89,3L14.85,3.4L11.11,21L9.15,20.6L12.89,3M19.59,12L16,8.41V5.58L22.42,12L16,18.41V15.58L19.59,12M1.58,12L8,5.58V8.41L4.41,12L8,15.58V18.41L1.58,12Z"
          />
        </svg>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ExampleCard',
  props: {
    example: {
      type: Object,
      default: null
    }
  }
}
</script>
