<template>
  <div class="inline-container">
    <img
      v-if="vxCurrentLocale"
      :src="`/img/svg/locale/${vxCurrentLocale}.svg`"
      class="pr-5"
    />
    <div>
      <select
        v-model="selectedLocale"
        class="select-dropdown"
        @change="setLocale"
      >
        <option
          v-for="(locale, index) in locales"
          :key="'locale-' + index"
          :class="index"
          :value="index"
          :selected="vxCurrentLocale === index"
          class="locale"
        >
          {{ locale.text }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import availableLocales from '../../locales/available.json'
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  name: 'LocalSelector',
  data() {
    return {
      locales: availableLocales,
      selectedLocale: null
    }
  },
  computed: {
    ...mapGetters({
      vxCurrentLocale: 'locale/getLocale'
    })
  },
  watch: {
    vxCurrentLocale(newValue, oldValue) {
      if (newValue !== this.selectedLocale) {
        this.selectedLocale = newValue
      }
    }
  },
  created() {
    this.selectedLocale = this.vxCurrentLocale
  },
  methods: {
    ...mapActions({
      vxSetLocale: 'locale/setLocale'
    }),
    setLocale() {
      if (process.client) {
        Cookie.set('locale', JSON.stringify(this.selectedLocale))
        this.vxSetLocale(this.selectedLocale)
      }
    }
  }
}
</script>
