<template>
  <li :class="classes" @click="$emit('clicked')">
    <nuxt-link :to="location" tag="a" :exact="exact">
      {{ $t(`links.${text}`) }}
    </nuxt-link>
  </li>
</template>

<script>
export default {
  name: 'NavigationListItem',
  props: {
    classes: {
      type: String,
      required: false,
      default: ''
    },
    location: {
      type: String,
      required: true,
      default: null
    },
    text: {
      type: String,
      required: true,
      default: null
    },
    exact: {
      type: Boolean,
      required: false
    }
  }
}
</script>
