<template>
  <div class="calendar">
    <div class="row-title">
      <button type="button" @click="$emit('decrement-day')">
        <svg viewBox="0 0 24 24">
          <path
            d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
          />
        </svg>
      </button>
      <h2>
        {{ yourMoment.format('MMMM Do, YYYY') }}
      </h2>
      <button type="button" @click="$emit('increment-day')">
        <svg viewBox="0 0 24 24">
          <path
            d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
          />
        </svg>
      </button>
    </div>
    <div class="calendar-content-container">
      <div class="day-container">
        <div
          v-for="hour in hoursArray"
          :id="`calendar-hour-${hour}`"
          :key="`calendar-hour-${hour}`"
          class="row-hour"
        >
          <div
            :class="isTimeSelectedByHour(hour) ? 'selected-time' : ''"
            class="hour-header"
            @mousedown="setStartTimeByHour(hour)"
            @mouseup="setEndTimeByHour(hour)"
            @mouseover="mouseOverSetEndByHour(hour)"
          >
            {{ getHour(hour) }}
          </div>
          <div class="hour-content">
            <div
              v-for="minute in minutesArray"
              :key="`hour-${hour}-minute-${minute}`"
              :class="
                isTimeSelectedByMinute(hour, minute) ? 'selected-time' : ''
              "
              class="minute-select"
              @mousedown="setStartTimeByMinute(hour, minute)"
              @mouseup="setEndTimeByMinute(hour, minute)"
              @mouseover="mouseOverSetEndByMinute(hour, minute)"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Day',
  props: {
    selectedDate: {
      type: Date,
      required: true
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      hoursArray: Array(24)
        .fill(0)
        .map((value, index) => value + index),
      minutesArray: Array(60)
        .fill(0)
        .map((value, index) => value + index),
      isSelectingTime: false,
      isSelectingTimeByHour: false,
      startTime: [-100, -100],
      endTime: [-100, -100]
    }
  },
  computed: {
    yourMoment() {
      return moment(this.selectedDate).locale(this.locale)
    }
  },
  watch: {
    yourMoment() {
      this.resetTime()
    }
  },
  methods: {
    getHour(hour) {
      // TODO: CHANGE THIS SO THAT IT IS MORE BASED ON THE MOMENT OBJECT AND NOT HANDLED BY HARDCODING THE LOCALES
      if (this.locale === 'fr') {
        return `${hour}:00`
      }
      if (hour === 0) {
        return '12:00 am'
      }
      return hour <= 12 ? `${hour}:00 am` : `${hour - 12}:00 pm`
    },
    sendSelectedTimes() {
      const selectedStart = moment(this.yourMoment)
        .set('hour', this.startTime[0])
        .set('minute', this.startTime[1])

      const selectedEnd = moment(this.yourMoment)
        .set('hour', this.endTime[0])
        .set('minute', this.endTime[1])

      this.$emit('plan-event', { start: selectedStart, end: selectedEnd })
    },
    setStartTimeByMinute(hour, minute) {
      this.isSelectingTime = true
      this.startTime = [hour, minute]
      this.endTime = [hour, minute + 1]
    },
    setEndTimeByMinute(hour, minute) {
      this.isSelectingTime = false
      this.endTime = [hour, minute + 1]

      this.sendSelectedTimes()
      this.resetTime()
    },
    mouseOverSetEndByMinute(hour, minute) {
      if (this.isSelectingTime) {
        this.endTime = [hour, minute + 1]
      }
    },
    isTimeSelectedByMinute(hour, minute) {
      if (this.isSelectingTime) {
        const time = this.getCalculatedTime(hour, minute)
        const calculatedStartTime = this.getCalculatedTime(
          this.startTime[0],
          this.startTime[1]
        )
        const calculatedEndTime =
          this.getCalculatedTime(this.endTime[0], this.endTime[1]) - 1

        if (calculatedEndTime > calculatedStartTime) {
          return time >= calculatedStartTime && time <= calculatedEndTime
        }
        return time >= calculatedEndTime && time <= calculatedStartTime
      }
      return false
    },
    setStartTimeByHour(hour) {
      this.isSelectingTime = false
      this.isSelectingTimeByHour = true
      this.startTime = [hour, 0]
      this.endTime = [hour + 1, 0]
    },
    setEndTimeByHour(hour) {
      this.isSelectingTimeByHour = false
      this.endTime = [hour + 1, 0]

      this.sendSelectedTimes()
      this.resetTime()
    },
    mouseOverSetEndByHour(hour) {
      if (this.isSelectingTimeByHour) {
        this.endTime = [hour + 1, 0]
      }
    },
    isTimeSelectedByHour(hour) {
      if (this.isSelectingTimeByHour) {
        const startHour = this.startTime[0]
        const endHour = this.endTime[0] - 1

        if (endHour > startHour) {
          return hour >= startHour && hour <= endHour
        }
        return hour >= endHour && hour <= startHour
      }
      return false
    },
    getCalculatedTime(hour, minute) {
      const calculatedHour = hour * 60
      return calculatedHour + minute
    },
    resetTime() {
      this.startTime = [-100, -100]
      this.endTime = [-100, -100]
    }
  }
}
</script>
