<template>
  <div class="calendar-container">
    <div class="calendar-menu">
      <div class="calendar-preview">
        <div class="calendar-content">
          <Month
            :selected-date="selectedDate"
            :locale="locale"
            is-minified
            @change-component="changeComponent"
            @increment-month="incrementDateBy('Months')"
            @decrement-month="decrementDateBy('Months')"
            @change-to-day="changeToDay"
          />
        </div>
        <div class="type-selection">
          <select v-model="selectedComponent">
            <option value="year">
              {{ $t('calendar.year') }}
            </option>
            <option value="month">
              {{ $t('calendar.month') }}
            </option>
            <option value="week">
              {{ $t('calendar.week') }}
            </option>
            <option value="day">
              {{ $t('calendar.day') }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="calendar-content">
      <component
        :is="componentList[selectedComponent]"
        :selected-date="selectedDate"
        :locale="locale"
        @change-component="changeComponent"
        @increment-day="incrementDateBy('Days')"
        @decrement-day="decrementDateBy('Days')"
        @increment-week="incrementDateBy('Weeks')"
        @decrement-week="decrementDateBy('Weeks')"
        @increment-month="incrementDateBy('Months')"
        @decrement-month="decrementDateBy('Months')"
        @increment-year="incrementDateBy('Years')"
        @decrement-year="decrementDateBy('Years')"
        @change-to-day="changeToDay"
        @change-to-year="changeToYear"
        @plan-event="planEvent"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'

import Day from './Day.vue'
import Week from './Week.vue'
import Month from './Month.vue'
import Year from './Year.vue'

export default {
  name: 'Calendar',
  components: { Day, Week, Month, Year },
  props: {
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      selectedComponent: null,
      componentList: null,
      selectedDate: null,
      selectingCalendar: false,
      planningRange: null
    }
  },
  created() {
    moment.locale('fr', {
      week: {
        dow: 0
      }
    })
    this.selectedDate = moment()
      .set('seconds', 0)
      .toDate()

    this.componentList = {
      day: Day,
      week: Week,
      month: Month,
      year: Year
    }

    this.selectedComponent = 'month'
  },
  methods: {
    changeComponent(component) {
      this.selectedComponent = component
    },
    incrementDateBy(incrementType) {
      const currentDate = moment(this.selectedDate)
      currentDate.add(1, incrementType)
      this.selectedDate = currentDate.toDate()
    },
    decrementDateBy(decrementType) {
      const currentDate = moment(this.selectedDate)
      currentDate.subtract(1, decrementType)
      this.selectedDate = currentDate.toDate()
    },
    changeToDay(date) {
      this.selectedDate = date.toDate()
      this.selectedComponent = 'day'
    },
    changeToYear(date) {
      this.selectedDate = date.toDate()
    },
    planEvent(selectedDateRange) {
      this.$emit('plan-event', selectedDateRange)
    }
  }
}
</script>
