<template>
  <div :class="isMinified ? 'minified' : ''" class="calendar">
    <div class="row-title">
      <button
        v-if="!flatNavigation"
        type="button"
        @click="$emit('decrement-month')"
      >
        <svg viewBox="0 0 24 24">
          <path
            d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
          />
        </svg>
      </button>
      <h2>
        {{ yourMoment.format('MMMM YYYY') }}
      </h2>
      <button
        v-if="!flatNavigation"
        type="button"
        @click="$emit('increment-month')"
      >
        <svg viewBox="0 0 24 24">
          <path
            d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
          />
        </svg>
      </button>
    </div>
    <div class="row-subtitle">
      <div v-for="value in weekdays" :key="'days-title-' + value">
        {{ value }}
      </div>
    </div>
    <div
      v-for="(week, weekIndex) in monthObject"
      :key="'week-of-month-' + weekIndex"
      class="row-content"
    >
      <div
        v-for="(day, dayIndex) in week"
        :key="'calendar-day-' + dayIndex + 1"
        class="day"
        @click="selectForPlanning(day)"
      >
        <a href="javascript:void(0)" @click="$emit('change-to-day', day)">
          {{ day.format('D') }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Month',
  props: {
    selectedDate: {
      type: Date,
      required: true
    },
    locale: {
      type: String,
      default: 'en'
    },
    isMinified: {
      type: Boolean
    },
    flatNavigation: {
      type: Boolean
    }
  },
  computed: {
    yourMoment() {
      return moment(this.selectedDate).locale(this.locale)
    },
    firstWeekOfMonth() {
      return this.yourMoment.startOf('month').week()
    },
    lastWeekOfMonth() {
      return this.yourMoment.endOf('month').week()
    },
    monthObject() {
      return Array(6)
        .fill(this.firstWeekOfMonth)
        .map((value, index) => this.getWeekArray(value + index))
    },
    weekdays() {
      return this.isMinified
        ? this.yourMoment.localeData().weekdaysShort()
        : this.yourMoment.localeData().weekdays()
    }
  },
  methods: {
    getWeekArray(weekNumber) {
      return Array(7)
        .fill()
        .map((value, index) =>
          moment(this.yourMoment)
            .locale(this.locale)
            .week(weekNumber)
            .weekday(index)
        )
    },
    selectForPlanning(day) {
      this.$emit('plan-event', { start: day, end: day })
    }
  }
}
</script>
