<template>
  <div class="calendar">
    <div class="row-title">
      <button type="button" @click="$emit('decrement-week')">
        <svg viewBox="0 0 24 24">
          <path
            d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
          />
        </svg>
      </button>
      <h2>
        {{ displayStartOfWeek }}
        -
        {{ displayEndOfWeek }}
      </h2>
      <button type="button" @click="$emit('increment-week')">
        <svg viewBox="0 0 24 24">
          <path
            d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
          />
        </svg>
      </button>
    </div>
    <div class="calendar-content-container">
      <div class="week-container">
        <div class="days-hours-container">
          <div
            v-for="hour in hoursArray"
            :id="`calendar-hour-${hour}`"
            :key="`calendar-hour-${hour}`"
            class="row-hour week-fix"
          >
            <div
              :class="isTimeSelectedByHour(hour) ? 'selected-time' : ''"
              class="hour-header"
              @mousedown="setStartTimeByHour(hour)"
              @mouseup="setEndTimeByHour(hour)"
              @mouseover="mouseOverSetEndByHour(hour)"
            >
              {{ getHour(hour) }}
            </div>
          </div>
        </div>
        <div class="days-of-week-container">
          <div
            v-for="day in days"
            :key="'calendar-week-' + day + 1"
            class="column-weekday"
          >
            <div>
              {{ yourMoment.weekday(day).format('dddd') }}
            </div>
            <div class="calendar-content-container">
              <div class="day-container">
                <div
                  v-for="hour in hoursArray"
                  :id="`calendar-hour-${hour}-${day}`"
                  :key="`calendar-hour-${hour}-${day}`"
                  class="row-hour"
                >
                  <div class="hour-content">
                    <div
                      v-for="minute in minutesArray"
                      :key="`${day}-hour-${hour}-minute-${minute}`"
                      :class="
                        isTimeSelectedByMinute(day, hour, minute)
                          ? 'selected-time'
                          : ''
                      "
                      class="minute-select week-fix"
                      @mousedown="setStartTimeByMinute(day, hour, minute)"
                      @mouseup="setEndTimeByMinute(day, hour, minute)"
                      @mouseover="mouseOverSetEndByMinute(day, hour, minute)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Week',
  props: {
    selectedDate: {
      type: Date,
      required: true
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      days: Array(7)
        .fill()
        .map((value, index) => index),
      hoursArray: Array(24)
        .fill(0)
        .map((value, index) => value + index),
      minutesArray: Array(4)
        .fill(0)
        .map((value, index) => value + index * 15),
      isSelectingTime: false,
      isSelectingTimeByHour: false,
      startTime: [-100, -100, -100],
      endTime: [-100, -100, -100]
    }
  },
  computed: {
    yourMoment() {
      return moment(this.selectedDate).locale(this.locale)
    },
    displayStartOfWeek() {
      return moment(this.yourMoment)
        .day(0)
        .format('MMM Do YYYY')
    },
    displayEndOfWeek() {
      return moment(this.yourMoment)
        .day(6)
        .format('MMM Do YYYY')
    }
  },
  methods: {
    weekdays() {
      return moment.weekdays()
    },
    getHour(hour) {
      // TODO: CHANGE THIS SO THAT IT IS MORE BASED ON THE MOMENT OBJECT AND NOT HANDLED BY HARDCODING THE LOCALES
      if (this.locale === 'fr') {
        return `${hour}:00`
      }
      if (hour === 0) {
        return '12:00 am'
      }
      return hour <= 12 ? `${hour}:00 am` : `${hour - 12}:00 pm`
    },
    sendSelectedTimes() {
      const selectedStart = moment(this.yourMoment)
        .day(this.startTime[0])
        .set('hour', this.startTime[1])
        .set('minute', this.startTime[2])

      const selectedEnd = moment(this.yourMoment)
        .day(this.endTime[0])
        .set('hour', this.endTime[1])
        .set('minute', this.endTime[2])

      this.$emit('plan-event', { start: selectedStart, end: selectedEnd })
    },
    setStartTimeByMinute(day, hour, minute) {
      this.isSelectingTime = true
      this.startTime = [day, hour, minute]
      this.endTime = [day, hour, minute + 15]
    },
    setEndTimeByMinute(day, hour, minute) {
      this.isSelectingTime = false
      this.endTime = [day, hour, minute + 15]

      this.sendSelectedTimes()
      this.resetTime()
    },
    mouseOverSetEndByMinute(day, hour, minute) {
      if (this.isSelectingTime) {
        this.endTime = [day, hour, minute + 15]
      }
    },
    isTimeSelectedByMinute(day, hour, minute) {
      if (this.isSelectingTime) {
        const time = this.getCalculatedTime(day, hour, minute)
        const calculatedStartTime = this.getCalculatedTime(
          this.startTime[0],
          this.startTime[1],
          this.startTime[2]
        )
        const calculatedEndTime =
          this.getCalculatedTime(
            this.endTime[0],
            this.endTime[1],
            this.endTime[2]
          ) - 15

        if (calculatedEndTime > calculatedStartTime) {
          return time >= calculatedStartTime && time <= calculatedEndTime
        }
        return time >= calculatedEndTime && time <= calculatedStartTime
      }
      return false
    },
    setStartTimeByHour(hour) {
      this.isSelectingTime = false
      this.isSelectingTimeByHour = true
      this.startTime = [0, hour, 0]
      this.endTime = [0, hour + 1, 0]
    },
    setEndTimeByHour(hour) {
      this.isSelectingTimeByHour = false
      this.endTime = [0, hour + 1, 0]

      this.sendSelectedTimes()
      this.resetTime()
    },
    mouseOverSetEndByHour(hour) {
      if (this.isSelectingTimeByHour) {
        this.endTime = [0, hour + 1, 0]
      }
    },
    isTimeSelectedByHour(hour) {
      if (this.isSelectingTimeByHour) {
        const startHour = this.startTime[1]
        const endHour = this.endTime[1] - 1

        if (endHour > startHour) {
          return hour >= startHour && hour <= endHour
        }
        return hour >= endHour && hour <= startHour
      }
      return false
    },
    getCalculatedTime(day, hour, minute) {
      const calculatedDay = day * 24 * 60
      const calculatedHour = hour * 60
      return calculatedDay + calculatedHour + minute
    },
    resetTime() {
      this.startTime = [-100, -100, -100]
      this.endTime = [-100, -100, -100]
    }
  }
}
</script>
