<template>
  <div class="calendar">
    <div class="row-title">
      <button type="button" @click="$emit('decrement-year')">
        <svg viewBox="0 0 24 24">
          <path
            d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
          />
        </svg>
      </button>
      <label v-if="changingYear">
        <input
          v-model.number="selectedYear"
          type="number"
          min="1000"
          max="9999"
          step="1"
          @change="changeYear()"
        />
      </label>
      <h2 v-else @click="changingYear = true">
        {{ selectedYear }}
      </h2>
      <button type="button" @click="$emit('increment-year')">
        <svg viewBox="0 0 24 24">
          <path
            d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
          />
        </svg>
      </button>
    </div>
    <div class="calendar-content-container">
      <div
        v-for="(row, rowIndex) in monthRows"
        :key="'years-month-months-row' + rowIndex"
        class="row-years-months"
      >
        <Month
          v-for="month in row"
          :key="'years-month-' + month"
          :selected-date="getDateByMonth(month)"
          :locale="locale"
          is-minified
          flat-navigation
          @change-to-day="changeToDay"
        />
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import Month from './Month.vue'

export default {
  name: 'Year',
  components: { Month },
  props: {
    selectedDate: {
      type: Date,
      required: true
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      monthRows: Array(3)
        .fill()
        .map((value, rowIndex) =>
          Array(4)
            .fill(rowIndex * 4)
            .map((value, index) => value + index)
        ),
      changingYear: false,
      selectedYear: null
    }
  },
  computed: {
    yourMoment() {
      return moment(this.selectedDate).locale(this.locale)
    }
  },
  watch: {
    yourMoment(value) {
      this.selectedYear = value.year()
    }
  },
  created() {
    this.selectedYear = this.yourMoment.year()
  },
  methods: {
    getDateByMonth(month) {
      return this.yourMoment.set('month', month).toDate()
    },
    changeToDay(day) {
      this.$emit('change-to-day', day)
    },
    changeYear() {
      if (this.selectedYear !== this.yourMoment.year()) {
        this.$emit(
          'change-to-year',
          this.yourMoment.set('year', this.selectedYear)
        )
      }
    }
  }
}
</script>
